<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>hotIcon</key>
		<string>m_26_100.png</string>
		<key>hotName</key>
		<string>本田</string>
	</dict>
	<dict>
		<key>hotIcon</key>
		<string>m_6_100.png</string>
		<key>hotName</key>
		<string>雪铁龙</string>
	</dict>
	<dict>
		<key>hotIcon</key>
		<string>m_127_100.png</string>
		<key>hotName</key>
		<string>别克</string>
	</dict>
	<dict>
		<key>hotIcon</key>
		<string>m_17_100.png</string>
		<key>hotName</key>
		<string>福特</string>
	</dict>
	<dict>
		<key>hotIcon</key>
		<string>m_7_100.png</string>
		<key>hotName</key>
		<string>丰田</string>
	</dict>
	<dict>
		<key>hotIcon</key>
		<string>m_18_100.png</string>
		<key>hotName</key>
		<string>马自达</string>
	</dict>
	<dict>
		<key>hotIcon</key>
		<string>m_3_100.png</string>
		<key>hotName</key>
		<string>宝马</string>
	</dict>
	<dict>
		<key>hotIcon</key>
		<string>m_9_100.png</string>
		<key>hotName</key>
		<string>奥迪</string>
	</dict>
	<dict>
		<key>hotIcon</key>
		<string>m_8_100.png</string>
		<key>hotName</key>
		<string>大众</string>
	</dict>
	<dict>
		<key>hotIcon</key>
		<string>m_15_100.png</string>
		<key>hotName</key>
		<string>比亚迪</string>
	</dict>
	<dict>
		<key>hotIcon</key>
		<string>m_2_100.png</string>
		<key>hotName</key>
		<string>奔驰</string>
	</dict>
	<dict>
		<key>hotIcon</key>
		<string>m_5_100.png</string>
		<key>hotName</key>
		<string>标致</string>
	</dict>
</array>
</plist>
