<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>三星车险</string>
		<key>phone</key>
		<string>4008333000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>渤海汽车保险</string>
		<key>phone</key>
		<string>4006116666</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英大泰和保险</string>
		<key>phone</key>
		<string>4008895598</string>
	</dict>
	<dict>
		<key>name</key>
		<string>利宝车险</string>
		<key>phone</key>
		<string>4008882008</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长安责任保险</string>
		<key>phone</key>
		<string>95592</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大地汽车保险</string>
		<key>phone</key>
		<string>95590</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国人寿</string>
		<key>phone</key>
		<string>95519</string>
	</dict>
	<dict>
		<key>name</key>
		<string>信达财险</string>
		<key>phone</key>
		<string>4008667788</string>
	</dict>
	<dict>
		<key>name</key>
		<string>平安汽车保险</string>
		<key>phone</key>
		<string>95512</string>
	</dict>
	<dict>
		<key>name</key>
		<string>人保汽车保险</string>
		<key>phone</key>
		<string>95518</string>
	</dict>
	<dict>
		<key>name</key>
		<string>太平保险</string>
		<key>phone</key>
		<string>95529</string>
	</dict>
	<dict>
		<key>name</key>
		<string>都邦汽车保险</string>
		<key>phone</key>
		<string>4008895586</string>
	</dict>
	<dict>
		<key>name</key>
		<string>锦泰财产</string>
		<key>phone</key>
		<string>4008666555</string>
	</dict>
	<dict>
		<key>name</key>
		<string>太平洋保险</string>
		<key>phone</key>
		<string>95500</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国联合保险</string>
		<key>phone</key>
		<string>95585</string>
	</dict>
	<dict>
		<key>name</key>
		<string>民安汽车保险</string>
		<key>phone</key>
		<string>95506</string>
	</dict>
	<dict>
		<key>name</key>
		<string>永诚汽车保险</string>
		<key>phone</key>
		<string>95552</string>
	</dict>
	<dict>
		<key>name</key>
		<string>安盛天平</string>
		<key>phone</key>
		<string>10106969</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阳光汽车保险</string>
		<key>phone</key>
		<string>95510</string>
	</dict>
	<dict>
		<key>name</key>
		<string>安诚汽车保险</string>
		<key>phone</key>
		<string>400-050-0000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天安汽车保险</string>
		<key>phone</key>
		<string>95505</string>
	</dict>
</array>
</plist>
